@charset "utf-8";

 *:root{
	 
	--colorBG:#666699;
	--colorFont: #ffffff;
	--colorHeader: #47476b;
	--colorGames: #52527a;
	--colorHover: #33334d;
	--colorImageBorder: #c7b8c0;
	--colorSecondFont: #c7b8c0;
	 
	 
 }
 GamesCatalog {
	 
	display: block;
	background-color: var(--colorBG);
	color: var(--colorFont);
	/*font-family: "Comic Sans MS";*/
	font-family: "Arial";
	font-size: 100%;
	padding: 5%;
	 
 }
 
 header{
	 
	display: block;
	text-align: center;
	background-color: var(--colorHeader);
	padding: 5%; 
 }
 
 header > titleOfProject{
	display: block;
	font-size: 500%;
	letter-spacing: 0.2em;
 }
 
 header > description{
	display: block;
	font-size: 200%;
	letter-spacing: 0.1em;
 }
 
 header > authors, modificationDate{
	display: block;
	font-size: 100%;
	letter-spacing: 0.1em;
 }
 
 header > authors > student:first-child::after {
    content: " | ";
}
header > university{
	display: block;
	font-size: 100%;
	letter-spacing: 0.1em;
	font-style: bold;
}

 
games game{
	
	display: grid;
	grid-gap: auto;
	grid-template-columns: 30% 70%;
	grid-template-rows: auto auto auto auto auto auto;
	background-color: var(--colorGames);
	text-align: center;
	overflow: auto;
	padding: 2%;
	
}
game:nth-child(3n) {
  background: red;
}

games game:hover{
	background-color: var(--colorHover);
	
}

game::after{
	color: var(--colorSecondFont);
	display:block;
	content:"Age rating: " attr(ratingID)  ;
}

game::before{
	color: var(--colorSecondFont);
	display:block;
}
games game[producerID="BW"]::before     { content: "BioWare"; }
games game[producerID="CDP"]::before     { content: "CD Project Red"; }
games game[producerID="Bethesda"]::before     { content: "Bethesda Softworks"; }
games game[producerID="CD"]::before     { content: "Crystal Dynamics"; }
games game[producerID="Ubisoft"]::before     { content: "Ubisoft"; }
games game[producerID="Activision"]::before     { content: "Activision Inc."; }
games game[producerID="Dice"]::before     { content: "EA Digital Illusions Creative Entertainment."; }
games game[producerID="Insomniac"]::before     { content: "Insomniac Games."; }
games game[producerID="Maxis"]::before     { content: "Maxis Games."; }

games game > cover{
	
	display: block;
	text-align: center;
	border: 5px solid var(--colorImageBorder);
	height: 500px;
	width: 333px;
	grid-column: 1;
	grid-row: 1 / span 5;
}

games game > title{
	display: block;
	font-style: bold;
	font-size: 400%;
	grid-column: 2;
	grid-row: 1;
}

games game > description{
	display: block;
	font-size: 150%;
	grid-column: 2;
	grid-row: 4;
}

games game > premierPrice::before{
	color: var(--colorSecondFont);
	content:"Price :";
}

games game > premierPrice{
	display: block;
	grid-column: 2;
	grid-row: 5;
}
premierPrice::after{
	content: " " attr(currency);
}

games game > premierDate::before{
	color: var(--colorSecondFont);
	content:"Release date:";
}

games game > premierDate{
	display: block;
	grid-column: 2;
	grid-row: 6;
}

metariticRate > metascore::before{
	color: var(--colorSecondFont);
	content:"Metascore:";
}

metariticRate > userScore::before{
	color: var(--colorSecondFont);
	content:"User score:";
}

metariticRate > numberOfVotes::before{
	color: var(--colorSecondFont);
	content:"Votes :";
}


games game > metariticRate{
	display: grid;
	grid-gap: auto;
	grid-column: 2;
	grid-row: 7;
	
}
metariticRate >metascore{
	display: block;
}
metariticRate > userScore{
	display: block;
}
metariticRate > numberOfVotes {
	display: block;
}

 producers, gameEngines, publishers, Ratings, platforms, genres {
	display: none;
 }

 games game > cover[src="covers/battlefield5.jpg"] { content: url("covers/battlefield5.jpg"); }
 games game > cover[src="covers/tombRider.jpg"] { content: url("covers/tombRider.jpg"); }
 games game > cover[src="covers/mass.jpg"] { content: url("covers/mass.jpg"); }
 games game > cover[src="covers/dao.jpg"] { content: url("covers/dao.jpg"); }
 games game > cover[src="covers/inkw.jpg"] { content: url("covers/inkw.jpg"); }
 games game > cover[src="covers/Skyrim.jpg"] { content: url("covers/Skyrim.jpg"); }
 games game > cover[src="covers/odys.jpg"] { content: url("covers/odys.jpg"); }
 games game > cover[src="covers/ratch.jpg"] { content: url("covers/ratch.jpg"); }
 games game > cover[src="covers/w2.jpg"] { content: url("covers/w2.jpg"); }
 games game > cover[src="covers/w3.jpg"] { content: url("covers/w3.jpg"); }
 games game > cover[src="covers/cod.jpg"] { content: url("covers/cod.jpg"); }
 games game > cover[src="covers/spore.jpg"] { content: url("covers/spore.jpg"); }
 games game > cover[src="covers/tom.jpg"] { content: url("covers/tom.jpg"); }